@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    background-image: url(89787.jpg);
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: no-repeat;
  }
  
  h1 {
    font-family: "Righteous", sans-serif;
    text-align: center;
    color: #ffffff;
    padding: 3px;
    margin-bottom: 40px;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px rgb(255, 0, 0);
    
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  
  .carousel {
    background: transparent;
    border-radius: 8px;
    
    overflow: hidden;
    width: 100%;
    max-width: 75%;
    position: relative;
  }
  
  .carousel-slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
  }

/* Carousel Slider (AUMENTA ALTURA) */
.carousel img {
    width: 100%;
    height: 400px; /* Mantemos a altura que você achou ideal */
    max-width: 100%;
    object-fit: cover;
    flex: 0 0 100%; /* Garante que cada imagem ocupe 100% do carrossel sem quebrar */
  }

  .carousel video {
    width: 100%;
    height: 47vh;
    object-fit: cover;
    flex: 0 0 100%;
  }
  
  
  

  .controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
  }
  
  .controls button {
    background: #007bff;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: transparent;
    flex-wrap: wrap;
  }
  
  .buttons a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    transition: background 0.3s ease;
  }
  
  .buttons a:hover {
    background-color: #0056b3;
  }
  
  .controls button:hover {
    background: #0056b3;
  }

  .rodape {
    background-color: black;
    color: white;
    text-align: center;
    margin: 1.5em 0;
  }

  .rodape__texto{
    padding: 1em;
  }
  

  .rodape__texto-link{
    text-decoration: none;
    color: white;
    font-weight: 900;
  }

  .rodape__texto-link:hover{
    color: #007bff;
    font-family: "Righteous", sans-serif;
    padding: 1em;
    transition: 1s;
    margin: 1.5em 0;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .carousel {
      max-width: 90%;
    }
  
    .buttons {
      flex-direction: column;
      gap: 10px;
    }
    .carousel video {
        height: 20vh;
    }
  
    .controls {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  